@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
  margin: 0;
  padding:0;
  font-family: 'Quicksand', monospace;
  background: linear-gradient(to right, rgb(0, 191, 255), rgb(211, 190, 207));
}
button{
	cursor: pointer;
}
.outl-n{
	outline-style: none !important;
}